body{
    text-align: center;

}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border:10px solid black;
    margin: 2.5rem;
}
@keyframes dance {
    0% { transform: rotate(0deg) scale(1); }
    25% { transform: rotate(5deg) scale(1.1); }
    50% { transform: rotate(-5deg) scale(1.1); }
    75% { transform: rotate(5deg) scale(1.1); }
    100% { transform: rotate(0deg) scale(1); }
  }
  
  .dance {
    animation: dance 0.6s infinite;
  }
  
.btn:hover {
    animation: dance 0.6s infinite;
  }
  
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color:#f99b45;
}
.red{
    background-color:#d95980;
}
.green{
    background-color: 	#59d9b2;
    
}
.purple{
    background-color:#f1c232
    ;
}
.flash{
    background-color: antiquewhite;
}    
.userflash{
    background-color: green;
}
#startBtn {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px auto;
    display: block;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  #startBtn:hover {
    background-color: #45a049;
  }
  